h1{
			background-color: yellow; 
			color: green;
			font-size: 400;
			font-family: courier;

		}
		body{
			background-color: red;
		}
		h2{
			background-color: green;
			color: yellow;
			font-size: 300;
			font-family: sans-serif;
		}
		a{
			text-decoration: none;
		}